<!doctype html>
<html ng-app="Application">

  <head>
    <script>
        var OSProfilerData = {
  "info": {
    "started": 0, 
    "finished": 10055, 
    "name": "total"
  }, 
  "children": [
    {
      "info": {
        "name": "wsgi", 
        "service": "osapi_volume", 
        "started": 0, 
        "meta.raw_payload.wsgi-stop": {}, 
        "finished": 5162, 
        "project": "cinder", 
        "host": "dsvm1", 
        "meta.raw_payload.wsgi-start": {}
      }, 
      "parent_id": "04c81fe6-da40-4728-9947-7c4b978eda06", 
      "trace_id": "b3c744c1-2434-4266-aac3-de80ab383ae1", 
      "children": [
        {
          "info": {
            "meta.raw_payload.db-start": {}, 
            "name": "db", 
            "service": "osapi_volume", 
            "started": 771, 
            "finished": 778, 
            "project": "cinder", 
            "meta.raw_payload.db-stop": {}, 
            "host": "dsvm1"
          }, 
          "parent_id": "b3c744c1-2434-4266-aac3-de80ab383ae1", 
          "trace_id": "ad5aaba6-fa79-4b4a-9244-08dc683a1bd0", 
          "children": []
        }, 
        {
          "info": {
            "meta.raw_payload.db-start": {}, 
            "name": "db", 
            "service": "osapi_volume", 
            "started": 822, 
            "finished": 851, 
            "project": "cinder", 
            "meta.raw_payload.db-stop": {}, 
            "host": "dsvm1"
          }, 
          "parent_id": "b3c744c1-2434-4266-aac3-de80ab383ae1", 
          "trace_id": "07f27678-8aa7-4698-b5fc-d38107a6613a", 
          "children": []
        }, 
        {
          "info": {
            "meta.raw_payload.db-start": {}, 
            "name": "db", 
            "service": "osapi_volume", 
            "started": 1020, 
            "finished": 1031, 
            "project": "cinder", 
            "meta.raw_payload.db-stop": {}, 
            "host": "dsvm1"
          }, 
          "parent_id": "b3c744c1-2434-4266-aac3-de80ab383ae1", 
          "trace_id": "9c6595bc-2f7e-42c8-b659-a0cbc5e06b43", 
          "children": []
        }, 
        {
          "info": {
            "meta.raw_payload.db-start": {}, 
            "name": "db", 
            "service": "osapi_volume", 
            "started": 1036, 
            "finished": 1082, 
            "project": "cinder", 
            "meta.raw_payload.db-stop": {}, 
            "host": "dsvm1"
          }, 
          "parent_id": "b3c744c1-2434-4266-aac3-de80ab383ae1", 
          "trace_id": "3c2eacbc-041e-462d-b562-22bffc5e9af7", 
          "children": []
        }, 
        {
          "info": {
            "meta.raw_payload.db-start": {}, 
            "name": "db", 
            "service": "osapi_volume", 
            "started": 1139, 
            "finished": 1184, 
            "project": "cinder", 
            "meta.raw_payload.db-stop": {}, 
            "host": "dsvm1"
          }, 
          "parent_id": "b3c744c1-2434-4266-aac3-de80ab383ae1", 
          "trace_id": "58b5ac4a-8f82-4ed1-8bce-bba4ea0afe8c", 
          "children": []
        }, 
        {
          "info": {
            "meta.raw_payload.db-start": {}, 
            "name": "db", 
            "service": "osapi_volume", 
            "started": 1196, 
            "finished": 1257, 
            "project": "cinder", 
            "meta.raw_payload.db-stop": {}, 
            "host": "dsvm1"
          }, 
          "parent_id": "b3c744c1-2434-4266-aac3-de80ab383ae1", 
          "trace_id": "b079df27-a651-439a-8de9-e778404c76a1", 
          "children": []
        }, 
        {
          "info": {
            "meta.raw_payload.db-start": {}, 
            "name": "db", 
            "service": "osapi_volume", 
            "started": 1338, 
            "finished": 1354, 
            "project": "cinder", 
            "meta.raw_payload.db-stop": {}, 
            "host": "dsvm1"
          }, 
          "parent_id": "b3c744c1-2434-4266-aac3-de80ab383ae1", 
          "trace_id": "4c4675df-ac58-42a2-8d73-ac84ef417382", 
          "children": []
        }, 
        {
          "info": {
            "meta.raw_payload.db-start": {}, 
            "name": "db", 
            "service": "osapi_volume", 
            "started": 1424, 
            "finished": 1450, 
            "project": "cinder", 
            "meta.raw_payload.db-stop": {}, 
            "host": "dsvm1"
          }, 
          "parent_id": "b3c744c1-2434-4266-aac3-de80ab383ae1", 
          "trace_id": "32f51839-fe7b-4041-9015-026eabef4d5b", 
          "children": []
        }, 
        {
          "info": {
            "meta.raw_payload.db-start": {}, 
            "name": "db", 
            "service": "osapi_volume", 
            "started": 1560, 
            "finished": 1594, 
            "project": "cinder", 
            "meta.raw_payload.db-stop": {}, 
            "host": "dsvm1"
          }, 
          "parent_id": "b3c744c1-2434-4266-aac3-de80ab383ae1", 
          "trace_id": "c04600a6-9e4f-4f47-b884-d4962df919c5", 
          "children": []
        }, 
        {
          "info": {
            "meta.raw_payload.db-start": {}, 
            "name": "db", 
            "service": "osapi_volume", 
            "started": 1677, 
            "finished": 1681, 
            "project": "cinder", 
            "meta.raw_payload.db-stop": {}, 
            "host": "dsvm1"
          }, 
          "parent_id": "b3c744c1-2434-4266-aac3-de80ab383ae1", 
          "trace_id": "f4885c35-0902-4b96-b404-ff1336a2d6d3", 
          "children": []
        }, 
        {
          "info": {
            "meta.raw_payload.db-start": {}, 
            "name": "db", 
            "service": "osapi_volume", 
            "started": 1691, 
            "finished": 1732, 
            "project": "cinder", 
            "meta.raw_payload.db-stop": {}, 
            "host": "dsvm1"
          }, 
          "parent_id": "b3c744c1-2434-4266-aac3-de80ab383ae1", 
          "trace_id": "f27a87fd-1f2f-4ace-9716-f3ed4732b6dc", 
          "children": []
        }, 
        {
          "info": {
            "meta.raw_payload.db-start": {}, 
            "name": "db", 
            "service": "osapi_volume", 
            "started": 1758, 
            "finished": 1805, 
            "project": "cinder", 
            "meta.raw_payload.db-stop": {}, 
            "host": "dsvm1"
          }, 
          "parent_id": "b3c744c1-2434-4266-aac3-de80ab383ae1", 
          "trace_id": "db63346a-13b8-4040-9863-6da7fc74251b", 
          "children": []
        }, 
        {
          "info": {
            "meta.raw_payload.db-start": {}, 
            "name": "db", 
            "service": "osapi_volume", 
            "started": 1871, 
            "finished": 1892, 
            "project": "cinder", 
            "meta.raw_payload.db-stop": {}, 
            "host": "dsvm1"
          }, 
          "parent_id": "b3c744c1-2434-4266-aac3-de80ab383ae1", 
          "trace_id": "aa676865-48d6-454b-8b77-b69792d0729b", 
          "children": []
        }, 
        {
          "info": {
            "meta.raw_payload.db-start": {}, 
            "name": "db", 
            "service": "osapi_volume", 
            "started": 1933, 
            "finished": 1951, 
            "project": "cinder", 
            "meta.raw_payload.db-stop": {}, 
            "host": "dsvm1"
          }, 
          "parent_id": "b3c744c1-2434-4266-aac3-de80ab383ae1", 
          "trace_id": "0fffd5c8-f814-40fc-a449-fbd7ac60b064", 
          "children": []
        }, 
        {
          "info": {
            "meta.raw_payload.db-start": {}, 
            "name": "db", 
            "service": "osapi_volume", 
            "started": 1958, 
            "finished": 2017, 
            "project": "cinder", 
            "meta.raw_payload.db-stop": {}, 
            "host": "dsvm1"
          }, 
          "parent_id": "b3c744c1-2434-4266-aac3-de80ab383ae1", 
          "trace_id": "f10f157a-6751-4fe7-a24d-5ad293207006", 
          "children": []
        }, 
        {
          "info": {
            "meta.raw_payload.db-start": {}, 
            "name": "db", 
            "service": "osapi_volume", 
            "started": 2093, 
            "finished": 2126, 
            "project": "cinder", 
            "meta.raw_payload.db-stop": {}, 
            "host": "dsvm1"
          }, 
          "parent_id": "b3c744c1-2434-4266-aac3-de80ab383ae1", 
          "trace_id": "7e881be7-7e94-4ec0-b7d5-1f8aae82be7b", 
          "children": []
        }, 
        {
          "info": {
            "meta.raw_payload.db-start": {}, 
            "name": "db", 
            "service": "osapi_volume", 
            "started": 2164, 
            "finished": 2185, 
            "project": "cinder", 
            "meta.raw_payload.db-stop": {}, 
            "host": "dsvm1"
          }, 
          "parent_id": "b3c744c1-2434-4266-aac3-de80ab383ae1", 
          "trace_id": "00e589b2-ff92-4ff1-926c-b2d2402b2db9", 
          "children": []
        }, 
        {
          "info": {
            "meta.raw_payload.db-start": {}, 
            "name": "db", 
            "service": "osapi_volume", 
            "started": 2231, 
            "finished": 2274, 
            "project": "cinder", 
            "meta.raw_payload.db-stop": {}, 
            "host": "dsvm1"
          }, 
          "parent_id": "b3c744c1-2434-4266-aac3-de80ab383ae1", 
          "trace_id": "56b761b0-2473-4e4b-b967-ace35465351f", 
          "children": []
        }, 
        {
          "info": {
            "meta.raw_payload.db-start": {}, 
            "name": "db", 
            "service": "osapi_volume", 
            "started": 2302, 
            "finished": 2340, 
            "project": "cinder", 
            "meta.raw_payload.db-stop": {}, 
            "host": "dsvm1"
          }, 
          "parent_id": "b3c744c1-2434-4266-aac3-de80ab383ae1", 
          "trace_id": "3a9098ad-9557-4b10-acef-869f7bf70ba5", 
          "children": []
        }, 
        {
          "info": {
            "meta.raw_payload.db-start": {}, 
            "name": "db", 
            "service": "osapi_volume", 
            "started": 2443, 
            "finished": 2455, 
            "project": "cinder", 
            "meta.raw_payload.db-stop": {}, 
            "host": "dsvm1"
          }, 
          "parent_id": "b3c744c1-2434-4266-aac3-de80ab383ae1", 
          "trace_id": "d847a0e1-db49-49b6-9076-42f96637b0ed", 
          "children": []
        }, 
        {
          "info": {
            "meta.raw_payload.db-start": {}, 
            "name": "db", 
            "service": "osapi_volume", 
            "started": 2482, 
            "finished": 2560, 
            "project": "cinder", 
            "meta.raw_payload.db-stop": {}, 
            "host": "dsvm1"
          }, 
          "parent_id": "b3c744c1-2434-4266-aac3-de80ab383ae1", 
          "trace_id": "490b3078-b901-43ed-9983-f47793a06e83", 
          "children": []
        }, 
        {
          "info": {
            "meta.raw_payload.db-start": {}, 
            "name": "db", 
            "service": "osapi_volume", 
            "started": 2563, 
            "finished": 2565, 
            "project": "cinder", 
            "meta.raw_payload.db-stop": {}, 
            "host": "dsvm1"
          }, 
          "parent_id": "b3c744c1-2434-4266-aac3-de80ab383ae1", 
          "trace_id": "1865c873-2fae-40e7-a963-dd2c9b0af064", 
          "children": []
        }, 
        {
          "info": {
            "meta.raw_payload.db-start": {}, 
            "name": "db", 
            "service": "osapi_volume", 
            "started": 2567, 
            "finished": 2583, 
            "project": "cinder", 
            "meta.raw_payload.db-stop": {}, 
            "host": "dsvm1"
          }, 
          "parent_id": "b3c744c1-2434-4266-aac3-de80ab383ae1", 
          "trace_id": "9b70171f-6260-40d5-ac33-ae20f3d00e97", 
          "children": []
        }, 
        {
          "info": {
            "meta.raw_payload.db-start": {}, 
            "name": "db", 
            "service": "osapi_volume", 
            "started": 2611, 
            "finished": 2613, 
            "project": "cinder", 
            "meta.raw_payload.db-stop": {}, 
            "host": "dsvm1"
          }, 
          "parent_id": "b3c744c1-2434-4266-aac3-de80ab383ae1", 
          "trace_id": "6a39dc1d-a756-4173-9121-2afa1dea3aeb", 
          "children": []
        }, 
        {
          "info": {
            "meta.raw_payload.db-start": {}, 
            "name": "db", 
            "service": "osapi_volume", 
            "started": 2616, 
            "finished": 2652, 
            "project": "cinder", 
            "meta.raw_payload.db-stop": {}, 
            "host": "dsvm1"
          }, 
          "parent_id": "b3c744c1-2434-4266-aac3-de80ab383ae1", 
          "trace_id": "c73650d7-0d51-4791-a6bf-8256db483102", 
          "children": []
        }, 
        {
          "info": {
            "meta.raw_payload.db-start": {}, 
            "name": "db", 
            "service": "osapi_volume", 
            "started": 2731, 
            "finished": 2774, 
            "project": "cinder", 
            "meta.raw_payload.db-stop": {}, 
            "host": "dsvm1"
          }, 
          "parent_id": "b3c744c1-2434-4266-aac3-de80ab383ae1", 
          "trace_id": "264ccdd4-2523-43ca-8ce2-63c28e6d976f", 
          "children": []
        }, 
        {
          "info": {
            "meta.raw_payload.db-start": {}, 
            "name": "db", 
            "service": "osapi_volume", 
            "started": 2858, 
            "finished": 2894, 
            "project": "cinder", 
            "meta.raw_payload.db-stop": {}, 
            "host": "dsvm1"
          }, 
          "parent_id": "b3c744c1-2434-4266-aac3-de80ab383ae1", 
          "trace_id": "1bb1ac8b-fa13-47d5-bf59-2d4a376b6157", 
          "children": []
        }, 
        {
          "info": {
            "meta.raw_payload.db-start": {}, 
            "name": "db", 
            "service": "osapi_volume", 
            "started": 2926, 
            "finished": 2960, 
            "project": "cinder", 
            "meta.raw_payload.db-stop": {}, 
            "host": "dsvm1"
          }, 
          "parent_id": "b3c744c1-2434-4266-aac3-de80ab383ae1", 
          "trace_id": "4d044c3a-0c19-42bf-b079-ffead9609ea2", 
          "children": []
        }, 
        {
          "info": {
            "meta.raw_payload.db-start": {}, 
            "name": "db", 
            "service": "osapi_volume", 
            "started": 3000, 
            "finished": 3026, 
            "project": "cinder", 
            "meta.raw_payload.db-stop": {}, 
            "host": "dsvm1"
          }, 
          "parent_id": "b3c744c1-2434-4266-aac3-de80ab383ae1", 
          "trace_id": "620021c7-3cb6-4b56-a1a3-d3447a1a85a9", 
          "children": []
        }, 
        {
          "info": {
            "meta.raw_payload.db-start": {}, 
            "name": "db", 
            "service": "osapi_volume", 
            "started": 3043, 
            "finished": 3099, 
            "project": "cinder", 
            "meta.raw_payload.db-stop": {}, 
            "host": "dsvm1"
          }, 
          "parent_id": "b3c744c1-2434-4266-aac3-de80ab383ae1", 
          "trace_id": "27f5cfa9-567d-4685-acb6-a29a30113fc6", 
          "children": []
        }, 
        {
          "info": {
            "meta.raw_payload.db-start": {}, 
            "name": "db", 
            "service": "osapi_volume", 
            "started": 3102, 
            "finished": 3104, 
            "project": "cinder", 
            "meta.raw_payload.db-stop": {}, 
            "host": "dsvm1"
          }, 
          "parent_id": "b3c744c1-2434-4266-aac3-de80ab383ae1", 
          "trace_id": "cba16242-68fc-4c8e-9f61-6e930e06db67", 
          "children": []
        }, 
        {
          "info": {
            "meta.raw_payload.db-start": {}, 
            "name": "db", 
            "service": "osapi_volume", 
            "started": 3107, 
            "finished": 3127, 
            "project": "cinder", 
            "meta.raw_payload.db-stop": {}, 
            "host": "dsvm1"
          }, 
          "parent_id": "b3c744c1-2434-4266-aac3-de80ab383ae1", 
          "trace_id": "9ef6f7b1-bd78-419c-a55a-e384cae1c9ee", 
          "children": []
        }, 
        {
          "info": {
            "meta.raw_payload.db-start": {}, 
            "name": "db", 
            "service": "osapi_volume", 
            "started": 3133, 
            "finished": 3198, 
            "project": "cinder", 
            "meta.raw_payload.db-stop": {}, 
            "host": "dsvm1"
          }, 
          "parent_id": "b3c744c1-2434-4266-aac3-de80ab383ae1", 
          "trace_id": "69de53b6-fd3b-4ad1-9d34-d03f20d5e930", 
          "children": []
        }, 
        {
          "info": {
            "meta.raw_payload.db-start": {}, 
            "name": "db", 
            "service": "osapi_volume", 
            "started": 3350, 
            "finished": 3375, 
            "project": "cinder", 
            "meta.raw_payload.db-stop": {}, 
            "host": "dsvm1"
          }, 
          "parent_id": "b3c744c1-2434-4266-aac3-de80ab383ae1", 
          "trace_id": "8f5aa525-4bb5-4c3e-807c-e1077e4fa8db", 
          "children": []
        }, 
        {
          "info": {
            "meta.raw_payload.db-start": {}, 
            "name": "db", 
            "service": "osapi_volume", 
            "started": 3400, 
            "finished": 3418, 
            "project": "cinder", 
            "meta.raw_payload.db-stop": {}, 
            "host": "dsvm1"
          }, 
          "parent_id": "b3c744c1-2434-4266-aac3-de80ab383ae1", 
          "trace_id": "d33a856e-ed04-4daf-b392-7eb15c06065b", 
          "children": []
        }, 
        {
          "info": {
            "meta.raw_payload.db-start": {}, 
            "name": "db", 
            "service": "osapi_volume", 
            "started": 3701, 
            "finished": 3714, 
            "project": "cinder", 
            "meta.raw_payload.db-stop": {}, 
            "host": "dsvm1"
          }, 
          "parent_id": "b3c744c1-2434-4266-aac3-de80ab383ae1", 
          "trace_id": "df44910d-a963-4536-95a0-927bd6997768", 
          "children": []
        }, 
        {
          "info": {
            "meta.raw_payload.db-start": {}, 
            "name": "db", 
            "service": "osapi_volume", 
            "started": 3791, 
            "finished": 3817, 
            "project": "cinder", 
            "meta.raw_payload.db-stop": {}, 
            "host": "dsvm1"
          }, 
          "parent_id": "b3c744c1-2434-4266-aac3-de80ab383ae1", 
          "trace_id": "0352ddd4-914b-4ecb-a0eb-27d104b237d9", 
          "children": []
        }, 
        {
          "info": {
            "meta.raw_payload.db-start": {}, 
            "name": "db", 
            "service": "osapi_volume", 
            "started": 3914, 
            "finished": 3931, 
            "project": "cinder", 
            "meta.raw_payload.db-stop": {}, 
            "host": "dsvm1"
          }, 
          "parent_id": "b3c744c1-2434-4266-aac3-de80ab383ae1", 
          "trace_id": "61f2807d-4ad7-4e05-8dbf-b65328f20ab4", 
          "children": []
        }, 
        {
          "info": {
            "meta.raw_payload.db-start": {}, 
            "name": "db", 
            "service": "osapi_volume", 
            "started": 3933, 
            "finished": 3954, 
            "project": "cinder", 
            "meta.raw_payload.db-stop": {}, 
            "host": "dsvm1"
          }, 
          "parent_id": "b3c744c1-2434-4266-aac3-de80ab383ae1", 
          "trace_id": "de5cd345-8174-4cba-8ac9-94e7f868aaa0", 
          "children": []
        }, 
        {
          "info": {
            "meta.raw_payload.db-start": {}, 
            "name": "db", 
            "service": "osapi_volume", 
            "started": 3959, 
            "finished": 3991, 
            "project": "cinder", 
            "meta.raw_payload.db-stop": {}, 
            "host": "dsvm1"
          }, 
          "parent_id": "b3c744c1-2434-4266-aac3-de80ab383ae1", 
          "trace_id": "da92bf86-6ca8-41f8-90cc-3510ff519a9a", 
          "children": []
        }, 
        {
          "info": {
            "meta.raw_payload.db-start": {}, 
            "name": "db", 
            "service": "osapi_volume", 
            "started": 3994, 
            "finished": 3996, 
            "project": "cinder", 
            "meta.raw_payload.db-stop": {}, 
            "host": "dsvm1"
          }, 
          "parent_id": "b3c744c1-2434-4266-aac3-de80ab383ae1", 
          "trace_id": "5357ed0e-3fc7-4ec7-9a69-386f41ecdc8e", 
          "children": []
        }, 
        {
          "info": {
            "meta.raw_payload.db-start": {}, 
            "name": "db", 
            "service": "osapi_volume", 
            "started": 4015, 
            "finished": 4028, 
            "project": "cinder", 
            "meta.raw_payload.db-stop": {}, 
            "host": "dsvm1"
          }, 
          "parent_id": "b3c744c1-2434-4266-aac3-de80ab383ae1", 
          "trace_id": "3802df59-667d-4ba5-8f32-265d8fb58991", 
          "children": []
        }, 
        {
          "info": {
            "meta.raw_payload.db-start": {}, 
            "name": "db", 
            "service": "osapi_volume", 
            "started": 4051, 
            "finished": 4076, 
            "project": "cinder", 
            "meta.raw_payload.db-stop": {}, 
            "host": "dsvm1"
          }, 
          "parent_id": "b3c744c1-2434-4266-aac3-de80ab383ae1", 
          "trace_id": "f2d0599d-4857-4fb1-8674-e061c55c4974", 
          "children": []
        }, 
        {
          "info": {
            "meta.raw_payload.db-start": {}, 
            "name": "db", 
            "service": "osapi_volume", 
            "started": 4095, 
            "finished": 4108, 
            "project": "cinder", 
            "meta.raw_payload.db-stop": {}, 
            "host": "dsvm1"
          }, 
          "parent_id": "b3c744c1-2434-4266-aac3-de80ab383ae1", 
          "trace_id": "4689b2a9-3559-49a0-b77b-46f89a0ff07f", 
          "children": []
        }, 
        {
          "info": {
            "meta.raw_payload.db-start": {}, 
            "name": "db", 
            "service": "osapi_volume", 
            "started": 4130, 
            "finished": 4149, 
            "project": "cinder", 
            "meta.raw_payload.db-stop": {}, 
            "host": "dsvm1"
          }, 
          "parent_id": "b3c744c1-2434-4266-aac3-de80ab383ae1", 
          "trace_id": "105972d4-87af-4a59-b9bf-a0eb6cd9b861", 
          "children": []
        }, 
        {
          "info": {
            "meta.raw_payload.db-start": {}, 
            "name": "db", 
            "service": "osapi_volume", 
            "started": 4155, 
            "finished": 4162, 
            "project": "cinder", 
            "meta.raw_payload.db-stop": {}, 
            "host": "dsvm1"
          }, 
          "parent_id": "b3c744c1-2434-4266-aac3-de80ab383ae1", 
          "trace_id": "a0c67a7e-aee3-49e0-bc70-6984fc124c74", 
          "children": []
        }, 
        {
          "info": {
            "meta.raw_payload.db-start": {}, 
            "name": "db", 
            "service": "osapi_volume", 
            "started": 4197, 
            "finished": 4232, 
            "project": "cinder", 
            "meta.raw_payload.db-stop": {}, 
            "host": "dsvm1"
          }, 
          "parent_id": "b3c744c1-2434-4266-aac3-de80ab383ae1", 
          "trace_id": "89ebfaa5-fb92-4f15-922a-1e97da381d52", 
          "children": []
        }, 
        {
          "info": {
            "meta.raw_payload.db-start": {}, 
            "name": "db", 
            "service": "osapi_volume", 
            "started": 4337, 
            "finished": 4389, 
            "project": "cinder", 
            "meta.raw_payload.db-stop": {}, 
            "host": "dsvm1"
          }, 
          "parent_id": "b3c744c1-2434-4266-aac3-de80ab383ae1", 
          "trace_id": "358d1eba-d9dd-40ce-ad07-23806c6e6081", 
          "children": []
        }, 
        {
          "info": {
            "name": "rpc", 
            "service": "cinder-scheduler", 
            "started": 4474, 
            "finished": 6326, 
            "project": "cinder", 
            "host": "dsvm1", 
            "meta.raw_payload.rpc-start": {}, 
            "meta.raw_payload.rpc-stop": {}
          }, 
          "parent_id": "b3c744c1-2434-4266-aac3-de80ab383ae1", 
          "trace_id": "7cbcfe65-0028-4c8f-a9eb-297ae69b17c5", 
          "children": [
            {
              "info": {
                "meta.raw_payload.db-start": {}, 
                "name": "db", 
                "service": "cinder-scheduler", 
                "started": 5233, 
                "finished": 5280, 
                "project": "cinder", 
                "meta.raw_payload.db-stop": {}, 
                "host": "dsvm1"
              }, 
              "parent_id": "7cbcfe65-0028-4c8f-a9eb-297ae69b17c5", 
              "trace_id": "4d717121-ca9c-4df3-a433-fce759236d8a", 
              "children": []
            }, 
            {
              "info": {
                "meta.raw_payload.db-start": {}, 
                "name": "db", 
                "service": "cinder-scheduler", 
                "started": 5303, 
                "finished": 5345, 
                "project": "cinder", 
                "meta.raw_payload.db-stop": {}, 
                "host": "dsvm1"
              }, 
              "parent_id": "7cbcfe65-0028-4c8f-a9eb-297ae69b17c5", 
              "trace_id": "34a106ab-db91-47a1-bf12-f66bb85d5277", 
              "children": []
            }, 
            {
              "info": {
                "meta.raw_payload.db-start": {}, 
                "name": "db", 
                "service": "cinder-scheduler", 
                "started": 5479, 
                "finished": 5496, 
                "project": "cinder", 
                "meta.raw_payload.db-stop": {}, 
                "host": "dsvm1"
              }, 
              "parent_id": "7cbcfe65-0028-4c8f-a9eb-297ae69b17c5", 
              "trace_id": "f74f7019-24bc-4028-8753-624fc87f6da2", 
              "children": []
            }, 
            {
              "info": {
                "meta.raw_payload.db-start": {}, 
                "name": "db", 
                "service": "cinder-scheduler", 
                "started": 5685, 
                "finished": 5738, 
                "project": "cinder", 
                "meta.raw_payload.db-stop": {}, 
                "host": "dsvm1"
              }, 
              "parent_id": "7cbcfe65-0028-4c8f-a9eb-297ae69b17c5", 
              "trace_id": "846b610d-3554-4cce-8e3e-9b68cd942bbc", 
              "children": []
            }, 
            {
              "info": {
                "meta.raw_payload.db-start": {}, 
                "name": "db", 
                "service": "cinder-scheduler", 
                "started": 5870, 
                "finished": 5899, 
                "project": "cinder", 
                "meta.raw_payload.db-stop": {}, 
                "host": "dsvm1"
              }, 
              "parent_id": "7cbcfe65-0028-4c8f-a9eb-297ae69b17c5", 
              "trace_id": "e1e4b54b-00ec-40e1-8da0-b4fe914188c7", 
              "children": []
            }, 
            {
              "info": {
                "meta.raw_payload.db-start": {}, 
                "name": "db", 
                "service": "cinder-scheduler", 
                "started": 5984, 
                "finished": 6031, 
                "project": "cinder", 
                "meta.raw_payload.db-stop": {}, 
                "host": "dsvm1"
              }, 
              "parent_id": "7cbcfe65-0028-4c8f-a9eb-297ae69b17c5", 
              "trace_id": "6348e33e-de79-442a-a685-1385cff85f4d", 
              "children": []
            }, 
            {
              "info": {
                "meta.raw_payload.db-start": {}, 
                "name": "db", 
                "service": "cinder-scheduler", 
                "started": 6209, 
                "finished": 6232, 
                "project": "cinder", 
                "meta.raw_payload.db-stop": {}, 
                "host": "dsvm1"
              }, 
              "parent_id": "7cbcfe65-0028-4c8f-a9eb-297ae69b17c5", 
              "trace_id": "6bd96be5-8f0e-4ad1-be07-672d557bba6e", 
              "children": []
            }, 
            {
              "info": {
                "name": "rpc", 
                "service": "cinder-volume", 
                "started": 6316, 
                "finished": 10055, 
                "project": "cinder", 
                "host": "dsvm1", 
                "meta.raw_payload.rpc-start": {}, 
                "meta.raw_payload.rpc-stop": {}
              }, 
              "parent_id": "7cbcfe65-0028-4c8f-a9eb-297ae69b17c5", 
              "trace_id": "1fe225dd-8aa7-44f8-b866-3568423d4477", 
              "children": [
                {
                  "info": {
                    "meta.raw_payload.db-start": {}, 
                    "name": "db", 
                    "service": "cinder-volume", 
                    "started": 7049, 
                    "finished": 7090, 
                    "project": "cinder", 
                    "meta.raw_payload.db-stop": {}, 
                    "host": "dsvm1"
                  }, 
                  "parent_id": "1fe225dd-8aa7-44f8-b866-3568423d4477", 
                  "trace_id": "0c96ca80-2cea-46e4-a205-34513c0ab8f6", 
                  "children": []
                }, 
                {
                  "info": {
                    "meta.raw_payload.db-start": {}, 
                    "name": "db", 
                    "service": "cinder-volume", 
                    "started": 7157, 
                    "finished": 7195, 
                    "project": "cinder", 
                    "meta.raw_payload.db-stop": {}, 
                    "host": "dsvm1"
                  }, 
                  "parent_id": "1fe225dd-8aa7-44f8-b866-3568423d4477", 
                  "trace_id": "0e3ae124-c8d5-4dec-b536-b385530b736e", 
                  "children": []
                }, 
                {
                  "info": {
                    "meta.raw_payload.db-start": {}, 
                    "name": "db", 
                    "service": "cinder-volume", 
                    "started": 7553, 
                    "finished": 7625, 
                    "project": "cinder", 
                    "meta.raw_payload.db-stop": {}, 
                    "host": "dsvm1"
                  }, 
                  "parent_id": "1fe225dd-8aa7-44f8-b866-3568423d4477", 
                  "trace_id": "d830ab7c-2aff-40dc-99c7-3e9d05987c0c", 
                  "children": []
                }, 
                {
                  "info": {
                    "meta.raw_payload.db-start": {}, 
                    "name": "db", 
                    "service": "cinder-volume", 
                    "started": 7669, 
                    "finished": 7795, 
                    "project": "cinder", 
                    "meta.raw_payload.db-stop": {}, 
                    "host": "dsvm1"
                  }, 
                  "parent_id": "1fe225dd-8aa7-44f8-b866-3568423d4477", 
                  "trace_id": "073084cb-9241-474b-b5f6-ad7691619ec6", 
                  "children": []
                }, 
                {
                  "info": {
                    "meta.raw_payload.db-start": {}, 
                    "name": "db", 
                    "service": "cinder-volume", 
                    "started": 7978, 
                    "finished": 8004, 
                    "project": "cinder", 
                    "meta.raw_payload.db-stop": {}, 
                    "host": "dsvm1"
                  }, 
                  "parent_id": "1fe225dd-8aa7-44f8-b866-3568423d4477", 
                  "trace_id": "92846c6a-0629-44fa-808e-c69d439b6330", 
                  "children": []
                }, 
                {
                  "info": {
                    "meta.raw_payload.db-start": {}, 
                    "name": "db", 
                    "service": "cinder-volume", 
                    "started": 8054, 
                    "finished": 8082, 
                    "project": "cinder", 
                    "meta.raw_payload.db-stop": {}, 
                    "host": "dsvm1"
                  }, 
                  "parent_id": "1fe225dd-8aa7-44f8-b866-3568423d4477", 
                  "trace_id": "95c81145-608d-4dfe-aa4c-24786278fc61", 
                  "children": []
                }, 
                {
                  "info": {
                    "meta.raw_payload.db-start": {}, 
                    "name": "db", 
                    "service": "cinder-volume", 
                    "started": 8251, 
                    "finished": 8278, 
                    "project": "cinder", 
                    "meta.raw_payload.db-stop": {}, 
                    "host": "dsvm1"
                  }, 
                  "parent_id": "1fe225dd-8aa7-44f8-b866-3568423d4477", 
                  "trace_id": "0f79cf58-0bb6-4dab-918a-443fcf4fcb97", 
                  "children": []
                }, 
                {
                  "info": {
                    "meta.raw_payload.db-start": {}, 
                    "name": "db", 
                    "service": "cinder-volume", 
                    "started": 8317, 
                    "finished": 8346, 
                    "project": "cinder", 
                    "meta.raw_payload.db-stop": {}, 
                    "host": "dsvm1"
                  }, 
                  "parent_id": "1fe225dd-8aa7-44f8-b866-3568423d4477", 
                  "trace_id": "6309356c-bde6-4a89-8c13-ff9264c9245c", 
                  "children": []
                }, 
                {
                  "info": {
                    "meta.raw_payload.db-start": {}, 
                    "name": "db", 
                    "service": "cinder-volume", 
                    "started": 8414, 
                    "finished": 8426, 
                    "project": "cinder", 
                    "meta.raw_payload.db-stop": {}, 
                    "host": "dsvm1"
                  }, 
                  "parent_id": "1fe225dd-8aa7-44f8-b866-3568423d4477", 
                  "trace_id": "2acce537-e085-4ffd-96f5-2d1fd6dbe041", 
                  "children": []
                }, 
                {
                  "info": {
                    "meta.raw_payload.db-start": {}, 
                    "name": "db", 
                    "service": "cinder-volume", 
                    "started": 8490, 
                    "finished": 8508, 
                    "project": "cinder", 
                    "meta.raw_payload.db-stop": {}, 
                    "host": "dsvm1"
                  }, 
                  "parent_id": "1fe225dd-8aa7-44f8-b866-3568423d4477", 
                  "trace_id": "a738dfac-a474-447d-979f-b81e56fd789b", 
                  "children": []
                }, 
                {
                  "info": {
                    "meta.raw_payload.driver-stop": {}, 
                    "name": "driver", 
                    "service": "cinder-volume", 
                    "started": 8603, 
                    "finished": 9082, 
                    "project": "cinder", 
                    "host": "dsvm1", 
                    "meta.raw_payload.driver-start": {}
                  }, 
                  "parent_id": "1fe225dd-8aa7-44f8-b866-3568423d4477", 
                  "trace_id": "0e52221f-481e-4bdd-bf98-4319a73ac453", 
                  "children": []
                }, 
                {
                  "info": {
                    "meta.raw_payload.db-start": {}, 
                    "name": "db", 
                    "service": "cinder-volume", 
                    "started": 9181, 
                    "finished": 9207, 
                    "project": "cinder", 
                    "meta.raw_payload.db-stop": {}, 
                    "host": "dsvm1"
                  }, 
                  "parent_id": "1fe225dd-8aa7-44f8-b866-3568423d4477", 
                  "trace_id": "549172c6-77b9-4f98-b3f7-5ff66ae5d8f0", 
                  "children": []
                }, 
                {
                  "info": {
                    "meta.raw_payload.db-start": {}, 
                    "name": "db", 
                    "service": "cinder-volume", 
                    "started": 9248, 
                    "finished": 9277, 
                    "project": "cinder", 
                    "meta.raw_payload.db-stop": {}, 
                    "host": "dsvm1"
                  }, 
                  "parent_id": "1fe225dd-8aa7-44f8-b866-3568423d4477", 
                  "trace_id": "79e9e093-17ed-4ec8-9bdc-4142e6060e67", 
                  "children": []
                }, 
                {
                  "info": {
                    "meta.raw_payload.db-start": {}, 
                    "name": "db", 
                    "service": "cinder-volume", 
                    "started": 9336, 
                    "finished": 9377, 
                    "project": "cinder", 
                    "meta.raw_payload.db-stop": {}, 
                    "host": "dsvm1"
                  }, 
                  "parent_id": "1fe225dd-8aa7-44f8-b866-3568423d4477", 
                  "trace_id": "e11e5c31-69d7-4d30-bf71-1f8880a62515", 
                  "children": []
                }, 
                {
                  "info": {
                    "meta.raw_payload.db-start": {}, 
                    "name": "db", 
                    "service": "cinder-volume", 
                    "started": 9418, 
                    "finished": 9437, 
                    "project": "cinder", 
                    "meta.raw_payload.db-stop": {}, 
                    "host": "dsvm1"
                  }, 
                  "parent_id": "1fe225dd-8aa7-44f8-b866-3568423d4477", 
                  "trace_id": "eaa5a649-c9d6-46a5-8a7c-5df99a7915ec", 
                  "children": []
                }, 
                {
                  "info": {
                    "meta.raw_payload.db-start": {}, 
                    "name": "db", 
                    "service": "cinder-volume", 
                    "started": 9467, 
                    "finished": 9488, 
                    "project": "cinder", 
                    "meta.raw_payload.db-stop": {}, 
                    "host": "dsvm1"
                  }, 
                  "parent_id": "1fe225dd-8aa7-44f8-b866-3568423d4477", 
                  "trace_id": "993bc015-7140-4d4e-a787-d965c42076f0", 
                  "children": []
                }, 
                {
                  "info": {
                    "meta.raw_payload.db-start": {}, 
                    "name": "db", 
                    "service": "cinder-volume", 
                    "started": 9602, 
                    "finished": 9629, 
                    "project": "cinder", 
                    "meta.raw_payload.db-stop": {}, 
                    "host": "dsvm1"
                  }, 
                  "parent_id": "1fe225dd-8aa7-44f8-b866-3568423d4477", 
                  "trace_id": "7235364e-c394-4687-b9f7-51cab7eb9d9e", 
                  "children": []
                }, 
                {
                  "info": {
                    "meta.raw_payload.db-start": {}, 
                    "name": "db", 
                    "service": "cinder-volume", 
                    "started": 9663, 
                    "finished": 9688, 
                    "project": "cinder", 
                    "meta.raw_payload.db-stop": {}, 
                    "host": "dsvm1"
                  }, 
                  "parent_id": "1fe225dd-8aa7-44f8-b866-3568423d4477", 
                  "trace_id": "9f9e06a5-7530-431e-a5ac-31a5db8b3541", 
                  "children": []
                }, 
                {
                  "info": {
                    "meta.raw_payload.db-start": {}, 
                    "name": "db", 
                    "service": "cinder-volume", 
                    "started": 9760, 
                    "finished": 9786, 
                    "project": "cinder", 
                    "meta.raw_payload.db-stop": {}, 
                    "host": "dsvm1"
                  }, 
                  "parent_id": "1fe225dd-8aa7-44f8-b866-3568423d4477", 
                  "trace_id": "5bbfd29c-1c52-486d-9489-27953d452a09", 
                  "children": []
                }, 
                {
                  "info": {
                    "meta.raw_payload.db-start": {}, 
                    "name": "db", 
                    "service": "cinder-volume", 
                    "started": 9844, 
                    "finished": 9863, 
                    "project": "cinder", 
                    "meta.raw_payload.db-stop": {}, 
                    "host": "dsvm1"
                  }, 
                  "parent_id": "1fe225dd-8aa7-44f8-b866-3568423d4477", 
                  "trace_id": "0754b683-eea0-4a8d-bcb4-f5c8aa51eebc", 
                  "children": []
                }, 
                {
                  "info": {
                    "meta.raw_payload.db-start": {}, 
                    "name": "db", 
                    "service": "cinder-volume", 
                    "started": 9917, 
                    "finished": 9942, 
                    "project": "cinder", 
                    "meta.raw_payload.db-stop": {}, 
                    "host": "dsvm1"
                  }, 
                  "parent_id": "1fe225dd-8aa7-44f8-b866-3568423d4477", 
                  "trace_id": "b354c435-1e10-42e0-819d-82afda3aa393", 
                  "children": []
                }, 
                {
                  "info": {
                    "meta.raw_payload.db-start": {}, 
                    "name": "db", 
                    "service": "cinder-volume", 
                    "started": 9955, 
                    "finished": 9973, 
                    "project": "cinder", 
                    "meta.raw_payload.db-stop": {}, 
                    "host": "dsvm1"
                  }, 
                  "parent_id": "1fe225dd-8aa7-44f8-b866-3568423d4477", 
                  "trace_id": "8f37fd39-b84f-4c34-80ae-837530054bac", 
                  "children": []
                }
              ]
            }
          ]
        }, 
        {
          "info": {
            "meta.raw_payload.db-start": {}, 
            "name": "db", 
            "service": "osapi_volume", 
            "started": 4709, 
            "finished": 4725, 
            "project": "cinder", 
            "meta.raw_payload.db-stop": {}, 
            "host": "dsvm1"
          }, 
          "parent_id": "b3c744c1-2434-4266-aac3-de80ab383ae1", 
          "trace_id": "3fbbb507-4280-413c-be32-d7b9b9a23027", 
          "children": []
        }, 
        {
          "info": {
            "meta.raw_payload.db-start": {}, 
            "name": "db", 
            "service": "osapi_volume", 
            "started": 4940, 
            "finished": 5012, 
            "project": "cinder", 
            "meta.raw_payload.db-stop": {}, 
            "host": "dsvm1"
          }, 
          "parent_id": "b3c744c1-2434-4266-aac3-de80ab383ae1", 
          "trace_id": "6e4079f2-0f09-4563-9985-eb1c2ccb71e9", 
          "children": []
        }
      ]
    }, 
    {
      "info": {
        "name": "wsgi", 
        "service": "osapi_volume", 
        "started": 5248, 
        "meta.raw_payload.wsgi-stop": {}, 
        "finished": 7264, 
        "project": "cinder", 
        "host": "dsvm1", 
        "meta.raw_payload.wsgi-start": {}
      }, 
      "parent_id": "04c81fe6-da40-4728-9947-7c4b978eda06", 
      "trace_id": "02b120c8-5480-49a6-8e71-6b7b4834ef38", 
      "children": [
        {
          "info": {
            "meta.raw_payload.db-start": {}, 
            "name": "db", 
            "service": "osapi_volume", 
            "started": 5590, 
            "finished": 5622, 
            "project": "cinder", 
            "meta.raw_payload.db-stop": {}, 
            "host": "dsvm1"
          }, 
          "parent_id": "02b120c8-5480-49a6-8e71-6b7b4834ef38", 
          "trace_id": "d953f258-dbaf-4431-b18e-e341045a1221", 
          "children": []
        }, 
        {
          "info": {
            "meta.raw_payload.db-start": {}, 
            "name": "db", 
            "service": "osapi_volume", 
            "started": 5669, 
            "finished": 5713, 
            "project": "cinder", 
            "meta.raw_payload.db-stop": {}, 
            "host": "dsvm1"
          }, 
          "parent_id": "02b120c8-5480-49a6-8e71-6b7b4834ef38", 
          "trace_id": "efc4818f-d2a7-4650-8d6d-746434f5d7ba", 
          "children": []
        }, 
        {
          "info": {
            "meta.raw_payload.db-start": {}, 
            "name": "db", 
            "service": "osapi_volume", 
            "started": 6019, 
            "finished": 6152, 
            "project": "cinder", 
            "meta.raw_payload.db-stop": {}, 
            "host": "dsvm1"
          }, 
          "parent_id": "02b120c8-5480-49a6-8e71-6b7b4834ef38", 
          "trace_id": "1b3ce6e6-1866-45f1-b5a3-d15b7876c483", 
          "children": []
        }, 
        {
          "info": {
            "meta.raw_payload.db-start": {}, 
            "name": "db", 
            "service": "osapi_volume", 
            "started": 6244, 
            "finished": 6327, 
            "project": "cinder", 
            "meta.raw_payload.db-stop": {}, 
            "host": "dsvm1"
          }, 
          "parent_id": "02b120c8-5480-49a6-8e71-6b7b4834ef38", 
          "trace_id": "b6b31d5d-9381-46e4-b991-3ca06aaad428", 
          "children": []
        }, 
        {
          "info": {
            "meta.raw_payload.db-start": {}, 
            "name": "db", 
            "service": "osapi_volume", 
            "started": 6693, 
            "finished": 6766, 
            "project": "cinder", 
            "meta.raw_payload.db-stop": {}, 
            "host": "dsvm1"
          }, 
          "parent_id": "02b120c8-5480-49a6-8e71-6b7b4834ef38", 
          "trace_id": "27c4dce7-a35b-4b0c-b182-6b5ca547a117", 
          "children": []
        }, 
        {
          "info": {
            "meta.raw_payload.db-start": {}, 
            "name": "db", 
            "service": "osapi_volume", 
            "started": 6832, 
            "finished": 6868, 
            "project": "cinder", 
            "meta.raw_payload.db-stop": {}, 
            "host": "dsvm1"
          }, 
          "parent_id": "02b120c8-5480-49a6-8e71-6b7b4834ef38", 
          "trace_id": "8c6ba481-cbc2-4eba-8a61-179200ec4beb", 
          "children": []
        }, 
        {
          "info": {
            "meta.raw_payload.db-start": {}, 
            "name": "db", 
            "service": "osapi_volume", 
            "started": 6914, 
            "finished": 6940, 
            "project": "cinder", 
            "meta.raw_payload.db-stop": {}, 
            "host": "dsvm1"
          }, 
          "parent_id": "02b120c8-5480-49a6-8e71-6b7b4834ef38", 
          "trace_id": "02793384-9c47-4f9c-8051-b52c5d6b1e10", 
          "children": []
        }, 
        {
          "info": {
            "meta.raw_payload.db-start": {}, 
            "name": "db", 
            "service": "osapi_volume", 
            "started": 6963, 
            "finished": 6986, 
            "project": "cinder", 
            "meta.raw_payload.db-stop": {}, 
            "host": "dsvm1"
          }, 
          "parent_id": "02b120c8-5480-49a6-8e71-6b7b4834ef38", 
          "trace_id": "06effda2-767f-49c2-b263-38912e45a606", 
          "children": []
        }, 
        {
          "info": {
            "meta.raw_payload.db-start": {}, 
            "name": "db", 
            "service": "osapi_volume", 
            "started": 7057, 
            "finished": 7099, 
            "project": "cinder", 
            "meta.raw_payload.db-stop": {}, 
            "host": "dsvm1"
          }, 
          "parent_id": "02b120c8-5480-49a6-8e71-6b7b4834ef38", 
          "trace_id": "b256509b-92f3-4e4f-af79-bf75558ed2af", 
          "children": []
        }, 
        {
          "info": {
            "meta.raw_payload.db-start": {}, 
            "name": "db", 
            "service": "osapi_volume", 
            "started": 7148, 
            "finished": 7158, 
            "project": "cinder", 
            "meta.raw_payload.db-stop": {}, 
            "host": "dsvm1"
          }, 
          "parent_id": "02b120c8-5480-49a6-8e71-6b7b4834ef38", 
          "trace_id": "7453eb49-39aa-4067-b024-2493fe475818", 
          "children": []
        }, 
        {
          "info": {
            "meta.raw_payload.db-start": {}, 
            "name": "db", 
            "service": "osapi_volume", 
            "started": 7192, 
            "finished": 7206, 
            "project": "cinder", 
            "meta.raw_payload.db-stop": {}, 
            "host": "dsvm1"
          }, 
          "parent_id": "02b120c8-5480-49a6-8e71-6b7b4834ef38", 
          "trace_id": "75af9e38-f201-4b29-b3a2-a9abdb7be99b", 
          "children": []
        }, 
        {
          "info": {
            "meta.raw_payload.db-start": {}, 
            "name": "db", 
            "service": "osapi_volume", 
            "started": 7211, 
            "finished": 7243, 
            "project": "cinder", 
            "meta.raw_payload.db-stop": {}, 
            "host": "dsvm1"
          }, 
          "parent_id": "02b120c8-5480-49a6-8e71-6b7b4834ef38", 
          "trace_id": "65b93749-05ad-4744-b1a1-1decfd2304cb", 
          "children": []
        }
      ]
    }
  ]
}
    </script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.min.js"></script>
    <script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.0.js"></script>

    <style>
      .trace {
        min-width: 900px;
        width: 100%;
      }
      .trace tr:hover {
        background-color: #D9EDF7!important;
      }
      .trace tr td {
        width: 14%;
        white-space: nowrap;
        padding: 2px;
        border-right: 1px solid #eee;
      }
      .trace tr td.details {
        width: 10%;
        padding-right: 20px;
      }
      .trace.cursor_pointer_on_hover {
        cursor: pointer;
      }
      .trace .level {
        width: 10%;
        font-weight: bold;
      }
      .bold {
        font-weight: bold;
      }
      .duration {
        width: 25px;
        margin: 0px;
        padding: 0px;
        background-color: #c6eff3;
        border-radius: 4px;
        font-size: 10px;
      }
      .duration div{
        padding-top: 4px;
        padding-bottom: 4px;
        text-align: center;
      }
    </style>

    <script type="text/ng-template"  id="tree_item_renderer.html">

        <div ng-init="hide_children=false">
          <table class="trace cursor_pointer_on_hover">
            <tr>
              <td class="level" style="padding-left:{{data.level * 5}}px;">
                <button type="button" class="btn btn-default btn-xs" ng-disabled="data.is_leaf" ng-click="hide_children=!hide_children">
                  <span class="glyphicon glyphicon-{{ (data.is_leaf) ? 'cloud' : ((hide_children) ? 'plus': 'minus')}}"></span>
                  {{data.level || 0}}
                </button>
              </td>
              <td ng-click="display(data);" class="text-center">
               <div class="duration" style="width: {{get_width(data)}}%; margin-left: {{get_started(data)}}%">
                  <div>{{data.info.finished - data.info.started}} ms</div>
                </div>
              </td>
              <td ng-click="display(data);" class="{{ is_important(data) ? 'bold' : ''}} text-right" > {{data.info.name}} </td>
              <td ng-click="display(data);"> {{data.info.project  || "n/a"}}</td>
              <td ng-click="display(data);"> {{data.info.service  || "n/a" }} </td>
              <td ng-click="display(data);"> {{data.info.host || "n/a"}} </td>
              <td class="details">
                <a href="#" ng-click="display(data);"> Details </a>
              </td>
            </tr>
          </table>

        <div ng-hide="hide_children">
          <div ng-repeat="data in data.children" ng-include="'tree_item_renderer.html'"> </div>
        </div>
      </div>

    </script>

    <script>
      angular.module("Application", ['ui.bootstrap']);

      function ProfilerCtlr($scope, $modal) {

        var convert_input = function(input, level){
          level = (level) ? level : 0;
          input.level = level;
          input.is_leaf = !input.children.length

          for (var i=0; i < input.children.length; i++)
            convert_input(input.children[i], level + 1);
          return input;
        }

        $scope.get_width = function(data){

          var full_duration = $scope.tree[0].info.finished;
          var duration = (data.info.finished - data.info.started) * 100.0 / full_duration;
          return (duration >= 0.5) ? duration : 0.5;
        }

        $scope.get_started = function(data) {
          var full_duration = $scope.tree[0].info.finished;
          return data.info.started * 100.0 / full_duration;
        }

        $scope.is_important = function(data) {
          return ["total", "wsgi", "rpc"].indexOf(data.info.name) != -1;
        }

        $scope.display = function(data){
          var info = angular.copy(data.info);

          var metadata = {};
          angular.forEach(info, function(value, key) {
            var parts = key.split(".");
            if (parts[0] == "meta"){

              if (parts.length == 2){
                this[parts[1]] = value;
              }
              else{
                var group_name = parts[1];
                if (!(group_name in this))
                  this[group_name] = {};

                this[group_name][parts[2]] = value;
              }
            };
          }, metadata);

          info["duration"] = info["finished"] - info["started"]
          info["metadata"] = "<pre>" + JSON.stringify(metadata, "", 4) + "</pre>"

          var trace_data = "<div class='row'>"
          columns = ["name", "project", "service", "host", "started",
                     "finished", "duration", "metadata"];
          for (var i = 0; i < columns.length; i++){
            trace_data += "<div class='col-md-2 text-right text-capitalize'><strong>" + columns[i] + " </strong></div>";
            trace_data += "<div class='col-md-10 text-left'>" + info[columns[i]] + "</div>";
          }
          trace_data += "</div>";

          var output = (
            '<div class="modal-header"> Trace Point Details </div>' +
            '<div class="modal-body">' + trace_data + '</div>' +
            '<div class="modal-footer"> <span class="glyphicon glyphicon-cloud </div>'
          );

          var modal_instance = $modal.open({
            "template": output,
            "size": "lg"
          });
        }

        $scope.tree = [convert_input(OSProfilerData)];
      }

    </script>
  </head>

  <body>
    <div ng-controller="ProfilerCtlr">
      <table class="trace">
        <tr class="bold text-left" style="border-bottom: solid 1px gray">
          <td class="level">Levels</td>
          <td>Duration</td>
          <td class="text-right">Type</td>
          <td>Project</td>
          <td>Service</td>
          <td>Host</td>
          <td class="details">Details</td>
        </tr>
      </table>
      <div ng-repeat="data in tree" ng-include="'tree_item_renderer.html'"></div>
    </div>

  </body>

</html>

